@tailwind base;
@tailwind components;
@tailwind utilities;

.next-btn {
	transition: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
	position: relative;
}

input:not(:placeholder-shown) + label {
	@apply -translate-y-7 scale-75;
}
